<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-smileypeb-plugins-happypluginswift" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>HappyPluginSwift</name>
    <js-module name="HappyPluginSwift" src="www/HappyPluginSwift.js">
        <clobbers target="happypluginswift" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HappyPluginSwift">
                <param name="ios-package" value="HappyPluginSwift" onload="true" />
            </feature>
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="HappyPlugin">
                <param name="ios-package" value="HappyPlugin" onload="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/HappyPlugin.h" />
        <source-file src="src/ios/HappyPlugin.m" />
        <source-file src="src/ios/HappyPluginSwift.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    </platform>
</plugin>
